<!-- ================================================== -->
<!--  Settings template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      
      <!-- Back button. -->
      <div @click="goBack" class="back-button w3-display-left w3-display-container">
        <div class="w3-display-middle w3-large"><div style="margin-bottom: 3px;">«</div></div>
      </div>

      <!-- Header text. -->
      <div class="page-text w3-display-left">Accounts</div>

    </div>

    <div class="w3-container w3-panel" style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div class="selector-wrapper">
        <div class="w3-dropdown-click">
          <div @click="toggleMenu('date-dropdown')" class="selector-button w3-theme w3-card">
            Date Format: {{selectedDateFormat}}
            <div class="selector-arrow"><i class="fas fa-caret-down"></i></div>
          </div>
          <div id="date-dropdown" class="w3-dropdown-content w3-bar-block w3-border">
            <div @click="selectFormat('YY/MM/DD')" class="w3-bar-item">YY/MM/DD</div>
            <div @click="selectFormat('MM/DD/YY')" class="w3-bar-item">MM/DD/YY</div>
            <div @click="selectFormat('DD/MM/YY')" class="w3-bar-item">DD/MM/YY</div>
          </div>
        </div>
      </div>

      <div class="selector-wrapper">
        <div class="w3-dropdown-click">
          <div @click="toggleMenu('calc-dropdown')" class="selector-button w3-theme w3-card">
            Default Calculator: {{calculatorDefault}}
            <div class="selector-arrow"><i class="fas fa-caret-down"></i></div>
          </div>
          <div id="calc-dropdown" class="w3-dropdown-content w3-bar-block w3-border">
            <div @click="setCalcDefault('Simple')" class="w3-bar-item">Simple</div>
            <div @click="setCalcDefault('Advanced')" class="w3-bar-item">Advanced</div>
          </div>
        </div>
      </div>

      <router-link to="/settings/theme" class="w3-button w3-theme w3-card w3-block w3-margin-bottom">Color Theme</router-link>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Settings script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-settings',
    data () {
      return {
        selectedDateFormat: '',
        calculatorDefault: ''
      };
    },
    methods: {
      goBack () {
        this.$router.back();
      },
      getCalcDefault () {
        return localStorage.getItem('calculatorDefault');
      },
      setCalcDefault (value) {
        this.calculatorDefault = value;
        localStorage.setItem('calculatorDefault', value);
        this.hideMenu('calc-dropdown');
      },
      selectFormat (format) {
        this.$dateSettings.setDateFormat(format);
        this.selectedDateFormat = format;
        this.hideMenu('date-dropdown');
      },
      toggleMenu (id) {
        var menu = document.getElementById(id);
        if (menu.className.indexOf('w3-show') === -1) {
          menu.className += ' w3-show';
        } else {
          menu.className = menu.className.replace(' w3-show', '');
        }
      },
      hideMenu (id) {
        var menu = document.getElementById(id);
        if (menu.className.indexOf('w3-show') !== -1) {
          menu.className = menu.className.replace(' w3-show', '');
        }
      }
    },
    mounted () {
      this.selectedDateFormat = this.$dateSettings.getDateFormat();
      this.calculatorDefault = this.getCalcDefault();
    }
  };
</script>

<!-- ================================================== -->
<!--  Settings CSS. -->
<!-- ================================================== -->

<style scoped>
  .back-button {
    height: 40px;
    width: 50px;
  }

  .page-text {
    margin-left: 50px;
  }

  .selector-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 16px 0px 16px 0px;
  }

  .selector-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .selector-button {
    padding: 8px 16px;
  }

  .selector-arrow {
    float: right;
  }
</style>